<!DOCTYPE html>

<html>

<!-- BEGIN HEAD -->
<head>
  <meta charset="utf-8"/>
  <title>HotelNgine | FrontDesk</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <meta content="" name="description"/>
  <meta content="" name="author"/>

  <!-- BEGIN PAGE LEVEL PLUGINS -->
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <!-- END PAGE LEVEL PLUGINS -->
  <%= yield(:assets) %>
  <link rel="shortcut icon" href="favicon.ico"/>
  <%= csrf_meta_tags %>
</head>
<!-- END HEAD --><body class="page-header-fixed page-sidebar-closed-hide-logo page-md">


<!-- BEGIN CONTAINER -->
<div class="wrapper">
  <!-- BEGIN HEADER -->
  <header class="page-header">
    <nav class="navbar mega-menu" role="navigation">
      <div class="container-fluid">
        <!-- BEGIN TOPBAR ACTIONS -->
        <%= render 'layouts/nav' %>
        <!-- END TOPBAR ACTIONS -->
      </div>
      <!--/container-->
    </nav>
  </header>
  <!-- END HEADER -->
  <div class="container-fluid">
    <div class="page-content">
      <!-- BEGIN BREADCRUMBS -->
      <div class="breadcrumbs">
        <h1>HotelNgine</h1>
      </div>
      <!-- END BREADCRUMBS -->

      <!-- BEGIN PAGE BASE CONTENT -->
      <%= yield %>
    </div>
    <!-- END PAGE BASE CONTENT -->
    <!-- BEGIN FOOTER -->
    <p class="copyright">2016 © HotelNgine by
      <a href="http://skyngine.com" title="Professional Developer" target="_blank"> SkyNgine.</a>
      <i> Version 0.0.1 Licence to Customer Name </i>
    </p>
    <a href="#index" class="go2top"><i class="icon-arrow-up"></i></a>
    <!-- END FOOTER -->
  </div>
</div>
<!-- END CONTAINER -->

<!-- BEGIN CORE PLUGINS -->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<!-- END CORE PLUGINS -->

<!-- BEGIN PAGE LEVEL PLUGINS -->
<%= javascript_include_tag 'themes/index', 'data-turbolinks-track' => true %>
<!-- END PAGE LEVEL PLUGINS -->

</body>
</html>
